<!--<h1 class="text-center"> Currently open venues (UJ-APK) </h1>-->
<!--<small class="my-btn text-center">enter time in 24 hour format</small>-->


<!--<%# form_for :venue_finder, :url => find_venue_path, :html => {:id => 'secureRoom', class: 'form-inline'} do |f| %>-->
              <!--&lt;!&ndash;Select time you want to see if a venue is free:&ndash;&gt;-->
              <!--<%# f.text_field :time, placeholder: "Time, Eg: 8:00", class: ' form-control' %>-->
            <!--<%# f.submit 'Find Venue', class: 'btn my-btn' %>-->
<!--<%# end %>-->

<!--<%= form_tag find_open_venue_path, :method => :get, class: 'form-inline form-search'  do %>-->
        <!--Select time you want to see if a venue is free:-->
        <!--<%= text_field_tag :time, params[:times],  placeholder: "Time, Eg: 15:03", class: ' form-control'%>-->
<!--<%= submit_tag 'Find Venue', name: nil, class: 'btn my-btn', id: 'mySearch' %>-->
<!--<% end %>-->


<!--<% unless @open_venues.nil? %>-->
<!--<% @open_venues.each do |h| %>-->
    <!--<div class="col-md-3 item" >-->
  <!--<div class="panel panel-body my_div" style="padding: 0px; overflow: hidden">-->
    <!--<div class="card-block">-->
        <!--<%= h[0] %>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<% end %>-->
<!--<%else%>-->
     <!--<div class="col-md-4 col-md-offset-4" >-->
  <!--<div class="panel panel-body my_div" style="padding: 0px; overflow: hidden">-->
    <!--<div class="card-block">-->
         <!--<h4> It looks like all venues are open now! becuase its a weekend!!! or the time is not between 8:00 and 18:45 or its a friday and its culture time.</h4>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<%end%>-->

<div class="col-md-4 col-md-offset-4" >
  <div class="panel panel-body my_div" style="padding: 0px; overflow: hidden">
    <div class="card-block">
      <h3>This feature is currently being revamped and will be up soon!</h3>
    </div>
  </div>
</div>

<!--<%# ready(Time.now) %>-->
