<h1 class="text-center"> Currently open venues now</h1>


<% venue_hashes = open_file %>

<% g = get_open_venues(venue_hashes, nil)[0].uniq {|s| s[:venue]} %>
<% g.each do |h| %>
    <div class="col-md-3 item" >
  <div class="panel panel-body my_div" style="padding: 0px; overflow: hidden">
    <div class="card-block">
        <%= h[:venue] %>
    </div>
  </div>
</div>
<% end %>
<!--<%# ready(Time.now) %>-->
