
<h2 class="text-center">Accommodations</h2>

<div>
  <%= render :partial=> 'search' %>
</div>
<div>
    <%= render(partial: 'shared/accommodation', collection: @acs) || "There's no accommodation to be displayed" %>
</div>

<div id="infinity-scroll" style="display: inline-block" ><%= will_paginate @acs %></div>
