<div class="col-md-4 col-md-offset-4">
  <h4 class="text-uppercase">Add Accomodation</h4>
  <div class="panel">
    <div class="panel-body">
        <%= render 'form', ac: @ac %>
    </div>
  </div>
</div>
