<div class="col-md-4 col-md-offset-4">
  <h4 class="text-uppercase">Please Choose </h4>
  <div class="panel ">
    <div class="panel-body">
             <%= link_to :hosts_choose_user_type, method: :post, class: 'btn my-btn btn-success' do %>
                I wanna be runner!
            <% end %>
            <%= link_to "No Thank you!", root_path %>
    </div>
  </div>
</div>

