<div class="col-md-5 col-md-offset-4">
  <h4 class="text-uppercase">Please Choose </h4>
  <div class="panel ">
    <div class="panel-body">
      <b> ClassFinder is recruiting Accommodation Assistants around all tertiary institutions between Auckland Park and Doornfontein </b>
      <p>A runner is a tour guide, they accompany accommodation bookers to go view the room and they get a
        commission </p>
          <%= link_to :hosts_choose_user_type, method: :post, class: 'btn my-btn btn-success' do %>
              I wanna be an accommodation assistant!
          <% end %>
          <hr>
          <%= link_to 'No thank you!', root_path, class: 'text-bold' %>
    </div>
  </div>
</div>

