<div style="margin-top: -20px">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overla"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <hgroup>
            <h1>Accommodation  Services</h1>
            <h3>A service  that allows students to easily book their accommodation online </h3>
          </hgroup>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">
          <hgroup>
            <h1>Book Exchange</h1>
            <h3>Provide students with the means of advertising and buying books on their respective campuses </h3>
          </hgroup>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <hgroup>
            <h1>Venue Service</h1>
            <h3>A service where students can check for available lecture venues on their respective campus at any time </h3>
          </hgroup>
          <a class="btn btn-hero btn-lg" role="button" href="/about">About US</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<section id="services">
  <div class="my-strip">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 text-center">
        <a href="/items">
        <div class="service-box">
          <%= image_tag('ic1.png', class:"img-responsive text-center") %>
          <h3>Buy And Sell Stuff</h3>
          <p class="text-muted">Making it easier to sell your things to ther students</p>
        </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-5 text-center">
        <div class="service-box">
          <a href="#">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          <h3>Is the Library Full</h3>
          <p class="text-muted">We got You Covered, ClassFinder Can help Find An open Class</p>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 text-center">
        <div class="service-box">
          <a href="/accomodation">
          <%= image_tag('ic3.png', class:"img-responsive") %>
          <h3>Find The Best Accomodation</h3>
          <p class="text-muted">We Offer the Best Accomodatioon</p>
            </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<footer style="padding: 10px 0px 5px 0px;" class="text-center">
  &COPY; 2016 Made with <i class="material-icons my-small-icon">favorite</i> by Metalojiq.</h4>
</footer>
<br>
