<div style="margin-top: -20px">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overla"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <hgroup>
            <h1>Accommodation  Services</h1>
            <h3>A service  that allows students to easily book their accommodation online </h3>
          </hgroup>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">
          <hgroup>
            <h1>Book Exchange</h1>
            <h3>Provide students with the means of advertising and buying books on their respective campuses </h3>
          </hgroup>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <hgroup>
            <h1>Venue Service</h1>
            <h3>A service where students can check for available lecture venues on their respective campus at any time </h3>
          </hgroup>
          <a class="btn btn-hero btn-lg" role="button" href="/about">About US</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div style="background-color: #0fb2fc; margin-top: -20px">
  <footer style="padding: 10px 0px 5px 0px; color: white; " class="text-center">
    &copy 2016 Metalojiq Solutions (pty)ltd
  </footer>
</div>
