
<div>
  <h2 class="text-center"> <i class="material-icons">star</i>HOTLIST<i class="material-icons">star</i></h2>
  <div id="my_items" class="" style="padding: 0;">
    <div class="grid">
    <%= render(partial: 'shared/item', collection: @items_likes)  %>
      </div>
  </div><br>

  <div id="with_button">
    <%= will_paginate @items_likes %>
  </div>


  <% if @items_likes.next_page %>
      <div id="load_more_items" class="btn btn-primary btn-lg" style="display: inline-flex;">More Items</div>
  <% end %>


</div>
