<div class="jumbotron ">
  <h1>Welcome...</h1>
<div>
  <p>
    This is the site where you sell your stuff to other students.
    You can press on the sell button to start selling or just looks
    around to see what other students are selling maybe you might find something interesting
  </p>

</div>

</div>

<div>
  <h2> 6 Most Liked</h2>
  <div id="my-items" class="col-md-12">
    <%= render(partial: "shared/item", collection: @items_likes) || "There's no Item to be displayed"  %>
  </div><br>

  <div id="with-button">
    <%= will_paginate @items_likes %>
  </div>


  <% if @items_likes.next_page %>
      <div id="load_more_items" class="btn btn-primary btn-lg" style="display: inline-flex;">More Items</div>
  <% end %>


</div>
