<div class="col-md 3">
  <section class="col-md-3" style="background-color: navajowhite">

    <a class="btn btn-block btn-danger" href="?cat=2" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Science</a>
    <a class="btn btn-block btn-danger" href="?cat=3" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Engineering</a>
    <a class="btn btn-block btn-danger" href="?cat=4" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Law</a>
    <a class="btn btn-block btn-danger" href="?cat=5" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Architecture And Design</a>
    <a class="btn btn-block btn-danger" href="?cat=6" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Education</a>
    <a class="btn btn-block btn-danger" href="?cat=7" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Humanities</a>
    <a class="btn btn-block btn-danger" href="?cat=8" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Medicine</a>
    <a class="btn btn-block btn-danger" href="?cat=9" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Commerce</a>
    <a class="btn btn-block btn-danger" href="?cat=10" style="color: rgb(243, 238, 245); background-position: 80% 79%; background-color: rgba(255, 87, 34, 0.92);" >Other</a>

  </section>
</div>
<div class="col-md-9" id="my-items">
  <% if @books.empty? %>
  <p class="text-center">Nothing Found in this category</p>
      <% else %>
       <%= render(partial: 'shared/book', collection: @books) || "There's no books to be displayed" %>
<% end %>
</div>