
   <%# could render anther page but for now we can just.... %>
   <div id="my-items">
     <%= render(partial: "shared/item", collection: @items) || "There's no Item to be displayed"  %>
   </div>

   <div id="infinity-scroll"><%= will_paginate %></div>