<div class="col-md-4 col-md-offset-4" >
  <h3  class="text-center">About</h3>
  <div class=" panel panel-body ">

    <p class="">
      This is a local store to all UJ people where we sell things to each other around the university.
    </p>
    <hr>
    <P class="">The difference between <span class="text-bold">My UJ Store</span>
      and GumTree, olx and takealot is that we are a more localised online store for student related exchanges </P>
    <hr>
    <small class="text-bold">For Developers</small> <br>
    Proudly developed using Free for Students Professional <a href="https://jetbrains.com/student">JetBrains</a> tools and
    We always looking for developers to help in making the site better or ways to make the site better , you can drop me an email at dubedivine@gmail.com<i class="material-icons">sentiment_satisfied</i>



  </div>
  <div>
  </div>
  <h4 class="text-center ">Made with <i class="material-icons my-small-icon">favorite</i> by Divine Dube.</h4>
</div>

