<div class="col-md-4 col-md-offset-4" >
  <h3  class="text-center">About</h3>
  <div class=" panel panel-body ">

    WE ARE METALOJIQ!
    <hr>
    <P class=""><span class="text-bold">Metalojiq Solutions Pty(Ltd)</span>  is a startup company
      geared towards providing meaningful solutions.<br> Metalojiq Solutions is owned and run by 5 Students namely: <br>

    </P>
    <hr>
    <p>
      <span class="text-bold">CEO</span>: Thapelo Seema. <br>
     <span class="text-bold">CTO</span>: Divine Dube <br>
     <span class="text-bold">R & D</span>: Kelly Maruva <br>
     <span class="text-bold">Graphics And Marketing</span>: Bobby Seema <br>
      <span class="text-bold">Marketing And PR</span>: Teboho Sekhoto <br>
    </p>
    <hr>
    Our main product at the moment is Classfinder++ which is a student convenience solution.
    <hr><p><span class="text-bold">Contact us</span><br> info@classfinderpp.com <br>
                                    <a href="http://facebook.com/classfinderpp" target="_blank">
                                     <i class="fa fa-facebook-official fa-6" aria-hidden="true">
                                                                </i> Our Facebook page </a> </p>

  </div>
  <div>
  </div>
  <h4 class="text-center ">Proudly made in Africa with <i  class="fa fa-heart my-small-icon" aria-hidden="true"></i> by Metalojiq.</h4>
</div>

