// Place all the styles related to the accomodation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c-blue {
  background: #530ce6;
}

.c-red {
  background: red;
}

.c-green {
  background: #00897B;
}