/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-material-design
 */


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color:  #FF5722;
}


body {
    /*position: relative;*/
}
.alert-error {
    background: #ff1343;
}
.alert {
    border-radius: 10px;
}
.panel-body {
    padding: 0px;
}

.material-icons.md-100 {
    font-size: 100px;
}

body {
    /*padding : 10px ;*/
}

#exTab1 .tab-content {
    color : white;
    background-color: #FF5722;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #FF5722;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color:  #FF5722;
    padding : 5px 15px;
}

