// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.my-side-nav {
  padding: 10px 0 10px 0 ;

}

.my-side-nav:hover {
  color: mediumseagreen;
}


.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
}

.card-img-top {
  border-radius: 0.25rem 0.25rem 0 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-block {
  padding: 1.25rem;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation;
}

.my-slider-image {
  height: 477px;
}
.my-inner-curesel {
  margin-bottom: 20px;
}

.my-button {
  padding: 5px;
  color: black;
  font-weight: bold;
  a:hover {
    background-color: grey;
  }
}

