// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-cover {
  height: 290px;
  margin-top: -20px;
  width: 100%;
}
.profile-img {
  border-radius: 10px;
  margin-left: 20px;
  margin-top: -140px;
  height: 180px;
  width: 180px;
}

.contacts-panel {
  background-color: blue;
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 70px;
}
