// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-bold {
  font-weight: bold;
}
.alert {
  background-color: #f44336;
}

#load_more_items {
  display: none;
  margin-bottom: 10px; /* Some margin to separate it from the footer */
}